header {
  width: 100%;
}

nav {
  text-align: center;
}

.navbar-expand-lg {
  justify-content: center;
}

nav li a.nav-link {
  color: ghostwhite;
  margin: 20px;
}


nav li {
  display: inline-block;
}

nav li a.nav-link:hover {
  color: lightslategrey;
}
