header {
  width: 100%;
}

nav {
  text-align: center;
}

.navbar-expand-lg {
  justify-content: center;
}

nav li a.nav-link {
  color: ghostwhite;
  margin: 20px;
}

nav li {
  display: inline-block;
  margin: 0 20px;
}

nav li a.nav-link:hover {
  color: lightslategrey;
}

.shop-cart {
  background-image: url('../../assets/images/cart.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 10px;

}


 .navbar li.nav-item.sign a {
  display: inline-block;
  margin: 20px 0;
}

.navbar li.nav-item.sign {
  margin-left: 40px;
}

.badge {
  transform: translateX(30px) translateY(-20px) rotate(-16deg);
}
