.card img {
  max-width: 100px;
  margin-left: 40px;
}

a {
  color: dimgray;
}

a:hover {
  text-decoration: underline;
}

h5 {
  margin-bottom: 40px;
}

.empty-cart {
  text-align: center;
  margin: 0 auto;
}

.card-text span {
  font-size: 20px;
  display: inline-block;
  margin: 10px;
}

.total {
  border-top: 2px solid dimgray;
  margin: 100px auto;
  padding: 20px;
  color: dimgray;
}
