<div class="row">

  <div class="col-2"></div>

  <div *ngIf="selectedItemsData.length > 0" class="col-8">
      <div *ngFor="let item of selectedItemsData " [id]="item.id" class="card my-3">
          <div class="row my-3">
            <div class="col-md-4">
              <a routerLink="/shop-item/{{item.id}}">
                <img [src]='item.imgSrc' class="card-img" alt="shop item">
              </a>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <a routerLink="/shop-item/{{item.id}}">
                  <h5 class="card-title"> {{item.name}} </h5>
                </a>
                <p class="card-text">
                  <span> ${{item.price}} </span>
                  <span>x</span>
                  <span> {{item.quantity}} = </span>
                  <span> <strong> ${{item.price * item.quantity}} </strong> </span>
                </p>
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn"
                      (click)="removeFromCart(item.id)">
                Remove
              </button>
            </div>
          </div>
      </div>
  </div>

  <div *ngIf="selectedItemsData.length === 0 " class="col-8">
    <div class="col-8 empty-cart">
     <h5> Your cart is empty.</h5>
     <a routerLink="/shop"> <button class="btn">Start shopping</button> </a>
    </div>
  </div>

  <div class="col-2"></div>

  <div class="total row">
    <div class="col-12">
      <h3> Total amount : $ {{total}}  </h3>
    </div>
  </div>

</div>
