<div class="row" >
   <div  class="col-xs-12 col-sm-4 col-lg-3 my-3"
           *ngFor="let item of shopItems | paginate: { itemsPerPage: 12,
                                                       currentPage: p,
                                                       totalItems: shopItems.length }">
     <a routerLink="/shop-item/{{item.id}}">
       <div class="card" [id]="item.id">
         <img [src]='item.imgSrc' class="card-img-top" alt="shop item">
         <div class="card-body">
           <h5 class="card-title">{{item.name}}</h5>
           <p class="card-text">${{item.price}}</p>
         </div>
       </div>
     </a>
   </div>
  <pagination-controls class="pagination"
                        (pageChange)="p  = $event"
                        maxSize="9"
                        directionLinks="true"
                        autoHide="true"
                        responsive="true"
                        previousLabel="Previous"
                        nextLabel="Next">
  </pagination-controls>
 </div>
