.card {
  padding: 20px;
  height: 250px;
}

.card img {
  max-width: 100px;
}

.card h5 {
  font-size: 16px;
  color: grey;
}

.card p {
  color: lightslategrey;
  font-size: 14px;
  text-align: center;
}

a {
  color: dimgray;
}

a:hover {
  text-decoration: none;
}

.pagination {
  margin: 50px auto 0;
}
