<div class="row">

  <div class="col-2"></div>

  <div *ngIf="selectedItemsData.length > 0 " class="col-8">

      <div *ngFor="let item of selectedItemsData " [id]="item.id" class="card my-3">
        <a routerLink="/shop-item/{{item.id}}">
          <div class="row my-3">
            <div class="col-md-4">
              <img [src]='item.imgSrc' class="card-img" alt="shop item">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"> {{item.name}} </h5>
                <p class="card-text">
                  <span> ${{item.price}} </span>
                  <span>x</span>
                  <span> {{item.quantity}} = </span>
                  <span> <strong> ${{item.totalValue}} </strong> </span>
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="total">
        <h3> Total amount : $ {{total}}  </h3>
      </div>


  </div>

  <div *ngIf="selectedItemsData.length === 0 " class="col-8">
    <div class="col-8 empty-cart">
     <h5> Your cart is empty.</h5>
     <a routerLink="/shop"> <button class="btn">Start shopping</button> </a>
    </div>
  </div>

  <div class="col-2"></div>

</div>
