.card img {
  max-width: 100px;
  margin-left: 40px;
}

a {
  color: dimgray;
}

a:hover {
  text-decoration: none;
}

h5 {
  margin-bottom: 40px;
}

.empty-cart {
  text-align: center;
  margin: 0 auto;
}
