img {
  max-width: 250px;
  display: block;
}

.shop-item-info {
  padding: 30px;
  margin: 0 auto;
  text-align: center;
}

.shop-item-name {
  font-weight: bold;
  color: dimgray;
  margin-bottom: 30px;
}

.shop-item-price {
  color: lightslategrey;
  font-size: 18px;
  margin: 30px auto;
}

button.add {
  margin: 10px auto;
  padding: 10px;
  background-color: cornflowerblue;
  border: none;
  display: block;
}

.minus,
.plus {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px;
}

