<div *ngIf="currentShopItem">
  <div class="row">
    <div class="col-6">
      <img [src]="currentShopItem.imgSrc" class="card-img-top" alt="shop item">
    </div>
    <div class="'col-6">
      <div class="shop-item-info">
        <h3 class="shop-item-name">{{currentShopItem.name}}</h3>
        <p class="shop-item-description">{{currentShopItem.description}}</p>

          <div class="shop-item-price">${{currentShopItem.price}}</div>
          <button class="minus" (click)="decrease()"  [disabled]="buttonsDisabling" >-</button>
          <span> {{quantity}} </span>
          <button  class="plus" (click)="increase()"  [disabled]="buttonsDisabling" >+</button>
          <button class="btn add"
                  (click)="addToCart()"  [disabled]="buttonsDisabling" >Add to Cart</button>

          <p *ngIf="buttonsDisabling" class="alert alert-danger">To add item to cart
            <a routerLink="/sign-in" > Sign in </a> or
            <a routerLink="/sign-up" >  Sign up </a>
          </p>

      </div>
    </div>
  </div>
</div>




