.form-group {
  min-width: 200px;
  max-width: 400px;
}

input.ng-valid {
  border-bottom: 2px solid mediumseagreen;
}

input.ng-invalid {
  border-bottom: 2px solid red;
}

.alert {
  max-width: 400px;
  margin-top: 10px;
}
