html, body {
  background-color: ghostwhite;
  height: 100%;
  margin: 0;
  font-size: 14px;
}

.wrapper {
  min-height: 100%;
}

main {
  padding-bottom: 50px;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
header,
footer {
  padding-right: 0;
  padding-left: 0;
  background-color: cornflowerblue;
}

.container-header,
.container-footer {
  padding-top: 50px;
  padding-bottom: 50px;
}
.container-main {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

img {
  margin: auto;
}

h5 {
  font-size: 16px;
}
h3 {
  font-size: 20px;
}

button.btn {
  background-color: cornflowerblue;
}
